.feedback-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-block: 50px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .feedback-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='email'],
  textarea {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  textarea {
   max-height: 50px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .submit-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .star-rating {
    display: flex;
  }
  
  .star-rating span {
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .star-rating span:hover,
  .star-rating span.filled {
    color: gold;
  }
  